<div class="global-notification-wrapper">
    <div *ngFor="let example of examplesList; let index = index;" class="example-item-wrapper">
        <button class="collapsible" (click)="toggleExample(globalNotificationExample, index)">
            <b>Toggle to show/hide: </b>
            <i>{{ example.description }}</i>
        </button>
        <div class="content" #globalNotificationExample style="display: none;">
            <app-simple-notification *ngIf="0 === index && example.isActive" class="component-content-wrapper"></app-simple-notification>
            <app-typed-notification *ngIf="1 === index && example.isActive" class="component-content-wrapper"></app-typed-notification>
            <app-ultimate-notification *ngIf="2 === index && example.isActive" class="component-content-wrapper"></app-ultimate-notification>
        </div>
    </div>
</div>
