<div class="global-notification-wrapper">
    <div *ngFor="let example of examplesList; let index = index;" class="example-item-wrapper">
        <button class="collapsible" (click)="toggleExample(globalNotificationExample, index)">
            <b>Toggle to show/hide: </b>
            <i>{{ example.description }}</i>
        </button>
        <div class="content" #globalNotificationExample style="display: none;">
            <template #globalNotificationContainer></template>
        </div>
    </div>
</div>
