<button class="error" (click)="showNotification('error')">Show 'error' notification with link to 404 page</button>
<button class="info" (click)="showNotification('info')">Show 'info' notification with cancel/approve buttons</button>
<button class="warning" (click)="showNotification('warning')">Show 'warning' notification with user input</button>
<button class="success" (click)="showNotification('success')">Show 'success' notification which can't be closed manually, but auto closes in 4s</button>