<header class="main-header">
    <div class="main-header__brand">
        IITM
    </div>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item"
                role="presentation"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/home">Home</a>
            </li>
            <li class="main-nav__item"
                role="presentation"
                routerLinkActive="active">
                <a routerLink="/animations">Animations</a>
            </li>
            <li class="main-nav__item"
                role="presentation"
                routerLinkActive="active">
                <a routerLink="/rxjs-page">Rxjs Page</a>
            </li>
        </ul>
    </nav>
</header>