$white:                             #ffffff;
$black:                             #000000;
$red:                               #ff3333;
$orange:                            #ec6722;
$red-orange:                        #ff3333;
$blaze-orange:                      #ff6600;
$fair-pink:                         #ffeded;
$fuscous-gray:                      #555555;

$screen-xs-max: 768px;
