$white:                #ffffff;
$black:                #000000;
$red:                  #ff3333;
$orange:               #ec6722;
$red-orange:           #ff3333;
$blaze-orange:         #ff6600;
$fair-pink:            #ffeded;
$fuscous-gray:         #555555;

$success-dark:         #5cb85c;
$success-light:        #ddfdd1;
$info-dark:            #5bc0de;
$info-light:           #befbff;
$warning-dark:         #f0ad4e;
$warning-light:        #f8fdd7;
$error-dark:           #d9534f;
$error-light:          #f5c2ed;

$screen-xs-max: 768px;
