:host {
  label,
  input,
  button {
    margin-right: 10px;
  }

  button {
    &:disabled {
      cursor: not-allowed;
    }
  }

  input {
    &.ng-invalid.ng-touched {
      border: 1px solid #c50f0f;
    }
  }
}