<div class="row">
    <div class="col-md-12">
        <form [formGroup]="loginForm"
              class="well"
              novalidate
              (ngSubmit)="login()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            placeholder="Enter username"
                            minlength="3"
                            maxlength="10"
                            formControlName="username" />
                </div>
                <div *ngIf="userNotFound" class="error">User not found, try different username like <span class="tip">SkyWalker</span></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password"
                            class="form-control"
                            placeholder="Enter password"
                            minlength="3"
                            maxlength="10"
                            formControlName="password" />
                </div>
            </div>
            <button class="btn btn-default" type="submit">Login</button>                        
        </form>
    </div>    
</div>