<div class="animation-type">
    <div class="css-animation-wrapper">
        <button class="collapsible" (click)="showContent(cssAnimations)">Toggle for CSS animation list:</button>
        <div class="content" #cssAnimations style="display: none;">
            <div *ngFor="let animation of cssAnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleCss(cssAnimation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content" #cssAnimation style="display: none;">
                    <app-rectangle-circle *ngIf="0 === index && animation.isActive" class="component-content-wrapper"></app-rectangle-circle>
                    <app-cube-rectangle *ngIf="1 === index && animation.isActive" class="component-content-wrapper"></app-cube-rectangle>
                    <app-simple-loading-bar *ngIf="2 === index && animation.isActive" class="component-content-wrapper"></app-simple-loading-bar>
                    <!-- <app-hover-expand-left *ngIf="3 === index && animation.isActive" class="component-content-wrapper"></app-hover-expand-left> -->
                    <app-move-left *ngIf="4 === index && animation.isActive" class="component-content-wrapper"></app-move-left>
                </div>
            </div>
        </div>
    </div>
    <div class="angular-animation-wrapper">
        <button class="collapsible" (click)="showContent(angularAnimations2)">Toggle for Angular 2 animation list:</button>
        <div class="content" #angularAnimations2 style="display: none;">
            <div *ngFor="let animation of angular2AnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleAngular2Animation(ng2Animation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content" #ng2Animation style="display: none;">
                    <app-cube-rectangle-orange *ngIf="0 === index && animation.isActive" class="component-content-wrapper"></app-cube-rectangle-orange>
                    <app-number-select *ngIf="1 === index && animation.isActive" class="component-content-wrapper"></app-number-select>
                    <app-bubble-select *ngIf="2 === index && animation.isActive" class="component-content-wrapper"></app-bubble-select>
                    <app-toggle-element *ngIf="3 === index && animation.isActive" class="component-content-wrapper"></app-toggle-element>
                    <app-shrink-left *ngIf="4 === index && animation.isActive" class="component-content-wrapper"></app-shrink-left>
                    <app-create-element *ngIf="5 === index && animation.isActive" class="component-content-wrapper"></app-create-element>
                </div>
            </div>
        </div>
    </div>
    <div class="angular-animation-wrapper">
        <button class="collapsible" (click)="showContent(angularAnimations4)">Toggle for Angular 4+ animation list:</button>
        <div class="content" #angularAnimations4 style="display: none;">
            <div *ngFor="let animation of angular4AnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleAngular4Animation(ng4Animation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content" #ng4Animation style="display: none;">
                    <app-move-left-prog *ngIf="0 === index && animation.isActive" class="component-content-wrapper"></app-move-left-prog>
                    <app-create-remove-element *ngIf="1 === index && animation.isActive" class="component-content-wrapper"></app-create-remove-element>
                    <app-stagger-animation *ngIf="2 === index && animation.isActive" class="component-content-wrapper"></app-stagger-animation>
                </div>
            </div>
        </div>
    </div>
</div>
