<div class="animation-type">
    <div class="css-animation-wrapper">
        <button class="collapsible" (click)="showContent(cssAnimations)">Toggle for CSS animation list:</button>
        <div class="content" #cssAnimations style="display: none;">
            <div *ngFor="let animation of cssAnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleCss(cssAnimation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content content-animation-wrapper" #cssAnimation style="display: none;">
                    <template #cssAnimationContainer></template>
                </div>
            </div>
        </div>
    </div>
    <div class="angular-animation-wrapper">
        <button class="collapsible" (click)="showContent(angularAnimations2)">Toggle for Angular 2 animation list:</button>
        <div class="content" #angularAnimations2 style="display: none;">
            <div *ngFor="let animation of angular2AnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleAngular2Animation(ng2Animation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content content-animation-wrapper" #ng2Animation style="display: none;">
                    <template #ng2AnimationContainer></template>
                </div>
            </div>
        </div>
    </div>
    <div class="angular-animation-wrapper">
        <button class="collapsible" (click)="showContent(angularAnimations4)">Toggle for Angular 4+ animation list:</button>
        <div class="content" #angularAnimations4 style="display: none;">
            <div *ngFor="let animation of angular4AnimationList; let index = index;" class="animation-item-wrapper">
                <button class="collapsible" (click)="toggleAngular4Animation(ng4Animation, index)">
                    <b>Toggle to show/hide: </b>
                    <i>{{ animation.description }}</i>
                </button>
                <div class="content content-animation-wrapper" #ng4Animation style="display: none;">
                    <template #ng4AnimationContainer></template>
                </div>
            </div>
        </div>
    </div>
</div>
